
	<div id="insales-section-benefits--top" class="insales-section insales-section-benefits insales-section-benefits--top d-none d-lg-block">
		<div class="benefits">
			<div class="container">
				<div class="row">



						<div class="col-12 col-md-6 col-lg-4">
							<div class="benefits-item">
								<div class="row">
									<div class="col col-auto">
										<img src="https://static-eu.insales.ru/files/1/4250/5591194/original/benefit-1.png" class="benefits-item-image img-fluid" alt="БЕСПЛАТНАЯ ДОСТАВКА">
									</div>
									<div class="col">
										<div class="benefits-item-title">БЕСПЛАТНАЯ ДОСТАВКА</div>
										<div class="benefits-item-description">Бесплатная доставка по&nbsp;России при&nbsp;сумме заказа от&nbsp;3000&nbsp;руб.</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<div class="benefits-item">
								<div class="row">
									<div class="col col-auto">
										<img src="https://static-eu.insales.ru/files/1/4251/5591195/original/benefit-2.png" class="benefits-item-image img-fluid" alt="ПОДДЕРЖКА 24/7">
									</div>
									<div class="col">
										<div class="benefits-item-title">ПОДДЕРЖКА 24/7</div>
										<div class="benefits-item-description">На&nbsp;связи с&nbsp;клиентами 24&nbsp;часа в&nbsp;сутки, 7&nbsp;дней в&nbsp;неделю</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 col-lg-4">
							<div class="benefits-item">
								<div class="row">
									<div class="col col-auto">
										<img src="https://static-eu.insales.ru/files/1/4252/5591196/original/benefit-3.png" class="benefits-item-image img-fluid" alt="30 ДНЕЙ НА ВОЗВРАТ">
									</div>
									<div class="col">
										<div class="benefits-item-title">30 ДНЕЙ НА ВОЗВРАТ</div>
										<div class="benefits-item-description">Простой возврат товара в&nbsp;течение 30&nbsp;дней с&nbsp;даты покупки</div>
									</div>
								</div>
							</div>
						</div>

				</div>
			</div>
		</div>
	</div>

  <div id="insales-section-slider" class="insales-section insales-section-slider">
  <div class="slider">
    <div class="slider-items">
      <div class="js-owl-carousel-slider owl-carousel owl-slider">

          <div class="slider-item">
            <a href="/collection/telefony"><img src="https://static-eu.insales.ru/files/1/2481/6179249/original/slide-1-new.jpg" class="img-fluid" alt="Слайд 1"></a>
          </div>

          <div class="slider-item">
            <img src="https://static-eu.insales.ru/files/1/2549/6179317/original/slide-2-new.jpg" class="img-fluid" alt="Слайд 2">
          </div>

          <div class="slider-item">
            <img src="https://static-eu.insales.ru/files/1/2542/6179310/original/slide-3-new.jpg" class="img-fluid" alt="Слайд 3">
          </div>

      </div>
    </div>
  </div>
</div>


<div id="insales-section-banners" class="insales-section insales-section-banners">
  <div class="container">
    <div class="banners">
      <div class="row">

          <div class="col col-12 col-md-6">
            <a href="/" class="banners-item">
              <img src="https://static-eu.insales.ru/files/1/1355/5498187/original/layout02_05_1024x.png" class="banners-item-image img-fluid" alt="Баннер на главной 1">
              <span class="banners-item-title"><span>Толстовки</span></span>
            </a>
          </div>

          <div class="col col-12 col-md-6">
            <a href="/" class="banners-item">
              <img src="https://static-eu.insales.ru/files/1/1356/5498188/original/layout02_06_1024x.png" class="banners-item-image img-fluid" alt="Баннер на главной 2">
              <span class="banners-item-title"><span>Платья</span></span>
            </a>
          </div>

          <div class="col col-12 col-md-4">
            <a href="/" class="banners-item">
              <img src="https://static-eu.insales.ru/files/1/1338/5498170/original/layout1-04_1024x.png" class="banners-item-image img-fluid" alt="Баннер на главной 3">
              <span class="banners-item-title"><span>Майки</span></span>
            </a>
          </div>

          <div class="col col-12 col-md-4">
            <a href="/" class="banners-item">
              <img src="https://static-eu.insales.ru/files/1/1339/5498171/original/layout1-05_600x.png" class="banners-item-image img-fluid" alt="Баннер на главной 4">
              <span class="banners-item-title"><span>Рубашки</span></span>
            </a>
          </div>

          <div class="col col-12 col-md-4">
            <a href="/" class="banners-item">
              <img src="https://static-eu.insales.ru/files/1/1340/5498172/original/layout1-06_600x.png" class="banners-item-image img-fluid" alt="Баннер на главной 5">
              <span class="banners-item-title"><span>Кепки</span></span>
            </a>
          </div>

      </div>
    </div>
  </div>
</div>


<div id="insales-section-tabs" class="insales-section insales-section-tabs insales-section-tabs--index">
  <div class="section-title text-center">
    Подборки товаров
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tabs">
          <div class="row no-gutters justify-content-center tabs-list">

              <div class="col-auto js-tabs-list-item tabs-list-item is-active" data-target="collection-frontpage">Популярные товары</div>

              <div class="col-auto js-tabs-list-item tabs-list-item" data-target="collection-aksessuary">Аксессуары</div>

              <div class="col-auto js-tabs-list-item tabs-list-item" data-target="collection-tovar-dnya">Товар дня</div>

          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="js-tabs-content tabs-content is-active" data-tab="collection-frontpage">






<div id="insales-section-products--frontpage" class="insales-section insales-section-products insales-section-products--frontpage">
  <div class="products">
    <div class="container">


        <div class="row">

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="118480436">
  <input type="hidden" name="variant_id" value="202041892">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/telefony/product/apple-iphone-xs-max" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/7847/180436647/large_xs-64-silver.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/485/180437477/large_xs-64-grey.jpg);"></span>
    <span class="product_card-labels">




</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/telefony/product/apple-iphone-xs-max">Apple iPhone XS Max</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/telefony/product/apple-iphone-xs-max#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price">96 990 – 127 990 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/telefony/product/apple-iphone-xs-max" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="118480436"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="118480436"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="107422905">
  <input type="hidden" name="variant_id" value="184241102">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/telefony/product/apple-iphone-8-productred-special-edition-64gb" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/4027/159625147/large_4078001-3.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/4028/159625148/large_4078001-4.jpg);"></span>
    <span class="product_card-labels">


  <span class="product_card-label product_card-label--soldout">Распродано</span>




    <span class="product_card-label product_card-label--sale">Скидка 4%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/telefony/product/apple-iphone-8-productred-special-edition-64gb">Apple iPhone 8 (PRODUCT)RED™ Special Edition 64GB</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/telefony/product/apple-iphone-8-productred-special-edition-64gb#comments"><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>4</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">51 990 ₽</span>
      <span class="product_card-old_price">53 990 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">

          <button type="button" class="button button--empty button--small button--disabled"><span>Распродано</span></button>

      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="107422905"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="107422905"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="107677123">
  <input type="hidden" name="variant_id" value="184641752">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/telefony/product/samsung-galaxy-a6-2018" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/4792/160010936/large_4103681-1.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/4793/160010937/large_4103681-2.jpg);"></span>
    <span class="product_card-labels">




</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/telefony/product/samsung-galaxy-a6-2018">Samsung Galaxy A6 (2018)</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/telefony/product/samsung-galaxy-a6-2018#comments"><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>5</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price">22 990 ₽</span>


  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/telefony/product/samsung-galaxy-a6-2018" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="107677123"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="107677123"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="107678966">
  <input type="hidden" name="variant_id" value="184643827">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/fotoapparaty/product/canon-eos-m10-kit-15-45mm-is-stm" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/5808/160011952/large_3337243-1.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/5809/160011953/large_3337243-2.jpg);"></span>
    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 13%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/fotoapparaty/product/canon-eos-m10-kit-15-45mm-is-stm">Canon EOS M10 Kit 15-45mm IS STM</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/fotoapparaty/product/canon-eos-m10-kit-15-45mm-is-stm#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">19 990 ₽</span>
      <span class="product_card-old_price">22 990 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <button type="submit" class="button button--icon button--small button--empty button--empty--inverse" data-item-add><span class="far fa-shopping-cart fa-lg"></span><span>В корзину</span></button>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="107678966"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="107678966"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="111674183">
  <input type="hidden" name="variant_id" value="191381847">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/igrushki/product/konstruktor-lego-duplo-10835-semeynyy-dom" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/6815/167303839/large_1.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/6816/167303840/large_2.jpg);"></span>
    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 24%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/igrushki/product/konstruktor-lego-duplo-10835-semeynyy-dom">Конструктор LEGO Duplo 10835 Семейный дом</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/igrushki/product/konstruktor-lego-duplo-10835-semeynyy-dom#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">1 621 ₽</span>
      <span class="product_card-old_price">2 119 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <button type="submit" class="button button--icon button--small button--empty button--empty--inverse" data-item-add><span class="far fa-shopping-cart fa-lg"></span><span>В корзину</span></button>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="111674183"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="111674183"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="111674667">
  <input type="hidden" name="variant_id" value="191382450">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/katalog-839ec9/product/korm-dlya-koshek-purina-pro-plan-10-kg-sterilised-feline-rich-in-turkey-dry" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item" style="background-image: url(https://static-eu.insales.ru/images/products/1/7069/167304093/large_proplan.jpg);"></span>

    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 4%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/katalog-839ec9/product/korm-dlya-koshek-purina-pro-plan-10-kg-sterilised-feline-rich-in-turkey-dry">Корм для кошек Purina Pro Plan (10 кг) Sterilised feline rich in Turkey dry</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/katalog-839ec9/product/korm-dlya-koshek-purina-pro-plan-10-kg-sterilised-feline-rich-in-turkey-dry#comments"><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-item rating-item--active"><span class="fas fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>2</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">4 790 ₽</span>
      <span class="product_card-old_price">5 000 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <button type="submit" class="button button--icon button--small button--empty button--empty--inverse" data-item-add><span class="far fa-shopping-cart fa-lg"></span><span>В корзину</span></button>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="111674667"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="111674667"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="111675594">
  <input type="hidden" name="variant_id" value="191383441">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/katalog-839ec9/product/korm-dlya-koshek-purina-pro-plan-10-kg-adult-feline-rich-in-salmon-dry" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item" style="background-image: url(https://static-eu.insales.ru/images/products/1/564/167305780/large_proplan3.jpg);"></span>

    <span class="product_card-labels">


  <span class="product_card-label product_card-label--soldout">Распродано</span>




    <span class="product_card-label product_card-label--sale">Скидка 8%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/katalog-839ec9/product/korm-dlya-koshek-purina-pro-plan-10-kg-adult-feline-rich-in-salmon-dry">Корм для кошек Purina Pro Plan (10 кг) Adult feline rich in Salmon dry</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/katalog-839ec9/product/korm-dlya-koshek-purina-pro-plan-10-kg-adult-feline-rich-in-salmon-dry#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">4 790 ₽</span>
      <span class="product_card-old_price">5 200 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">

          <button type="button" class="button button--empty button--small button--disabled"><span>Распродано</span></button>

      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="111675594"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="111675594"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="109626232">
  <input type="hidden" name="variant_id" value="187860190">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/telefony/product/samsung-apple" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item" style="background-image: url(https://static-eu.insales.ru/images/products/1/4729/163213945/large_appung.jpg);"></span>

    <span class="product_card-labels">

  <span class="product_card-label product_card-label--bundle">Комплект</span>


  <span class="product_card-label product_card-label--soldout">Распродано</span>




    <span class="product_card-label product_card-label--sale">Скидка 8%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/telefony/product/samsung-apple">Красный Apple iPhone 8 и золотистый Samsung Galaxy A6</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/telefony/product/samsung-apple#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">68 990 ₽</span>
      <span class="product_card-old_price">74 980 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">

          <button type="button" class="button button--empty button--small button--disabled"><span>Распродано</span></button>

      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="109626232"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="109626232"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

        </div>

    </div>
  </div>
</div>






      <div class="tabs-all text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="/collection/frontpage" class="button button--primary">Посмотреть все товары</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="js-tabs-content tabs-content" data-tab="collection-aksessuary">






<div id="insales-section-products--aksessuary" class="insales-section insales-section-products insales-section-products--aksessuary">
  <div class="products">
    <div class="container">


        <div class="row">

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="106860779">
  <input type="hidden" name="variant_id" value="183328323">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/aksessuary/product/demo-tovar-1" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/3514/158641594/large_clothes_01.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/3515/158641595/large_clothes_03.jpg);"></span>
    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 9-13%</span>



  <span class="product_card-label product_card-label--new">Новинка</span>

</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/aksessuary/product/demo-tovar-1">Демо-товар 1</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/aksessuary/product/demo-tovar-1#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price">4 990 – 6 590 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/aksessuary/product/demo-tovar-1" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="106860779"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="106860779"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="106860780">
  <input type="hidden" name="variant_id" value="183328334">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/aksessuary/product/demo-tovar-2" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/3521/158641601/large_clothes_03.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/3522/158641602/large_technics-04-1.jpg);"></span>
    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 25%</span>



  <span class="product_card-label product_card-label--bestseller">Хит продаж</span>

</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/aksessuary/product/demo-tovar-2">Демо-товар 2</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/aksessuary/product/demo-tovar-2#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">1 500 ₽</span>
      <span class="product_card-old_price">2 000 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/aksessuary/product/demo-tovar-2" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="106860780"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="106860780"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="106860781">
  <input type="hidden" name="variant_id" value="183328372">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/aksessuary/product/demo-tovar-3" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/3525/158641605/large_cosmetics-02.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/3526/158641606/large_cosmetics-01.jpg);"></span>
    <span class="product_card-labels">




</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/aksessuary/product/demo-tovar-3">Демо-товар 3</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/aksessuary/product/demo-tovar-3#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price">1 490 – 1 890 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/aksessuary/product/demo-tovar-3" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="106860781"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="106860781"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="106860784">
  <input type="hidden" name="variant_id" value="183328390">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/aksessuary/product/demo-tovar-4" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/3533/158641613/large_technics-04-1.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/3535/158641615/large_technics-05.jpg);"></span>
    <span class="product_card-labels">




  <span class="product_card-label product_card-label--new">Новинка</span>

  <span class="product_card-label product_card-label--bestseller">Хит продаж</span>

</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/aksessuary/product/demo-tovar-4">Демо-товар 4</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/aksessuary/product/demo-tovar-4#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price">14 990 – 16 590 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/aksessuary/product/demo-tovar-4" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="106860784"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="106860784"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="106860785">
  <input type="hidden" name="variant_id" value="183328393">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/aksessuary/product/demo-tovar-5" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/3539/158641619/large_tools_and_home-01.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/3540/158641620/large_tools_and_home-02.jpg);"></span>
    <span class="product_card-labels">


  <span class="product_card-label product_card-label--soldout">Распродано</span>




    <span class="product_card-label product_card-label--sale">Скидка</span>



  <span class="product_card-label product_card-label--new">Новинка</span>

</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/aksessuary/product/demo-tovar-5">Демо-товар 5</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/aksessuary/product/demo-tovar-5#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">7 500 ₽</span>
      <span class="product_card-old_price">7 510 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">

          <button type="button" class="button button--empty button--small button--disabled"><span>Распродано</span></button>

      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="106860785"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="106860785"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="106860786">
  <input type="hidden" name="variant_id" value="183328394">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/aksessuary/product/demo-tovar-6" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/3544/158641624/large_tools_and_home-04.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/3545/158641625/large_tools_and_home-02-02-02-02.jpg);"></span>
    <span class="product_card-labels">




</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/aksessuary/product/demo-tovar-6">Демо-товар 6</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/aksessuary/product/demo-tovar-6#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price">8 901 – 10 901 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/aksessuary/product/demo-tovar-6" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="106860786"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="106860786"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="106860787">
  <input type="hidden" name="variant_id" value="183328403">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/aksessuary/product/demo-tovar-7" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/3549/158641629/large_clothes_02.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/3551/158641631/large_clothes_01.jpg);"></span>
    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 1-40%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/aksessuary/product/demo-tovar-7">Демо-товар 7</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/aksessuary/product/demo-tovar-7#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price">980 – 1 090 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/aksessuary/product/demo-tovar-7" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="106860787"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="106860787"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="106860788">
  <input type="hidden" name="variant_id" value="183328406">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/aksessuary/product/demo-tovar-8" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/3554/158641634/large_food-02.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/3556/158641636/large_food-01.jpg);"></span>
    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 7-20%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/aksessuary/product/demo-tovar-8">Демо-товар 8</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/aksessuary/product/demo-tovar-8#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price">400 – 650 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/aksessuary/product/demo-tovar-8" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="106860788"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="106860788"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

        </div>

    </div>
  </div>
</div>






      <div class="tabs-all text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="/collection/aksessuary" class="button button--primary">Посмотреть все товары</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="js-tabs-content tabs-content" data-tab="collection-tovar-dnya">






<div id="insales-section-products--tovar-dnya" class="insales-section insales-section-products insales-section-products--tovar-dnya">
  <div class="products">
    <div class="container">


        <div class="row">

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="126874773">
  <input type="hidden" name="variant_id" value="216129233">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/adidas/product/vysokie-kedy-hoops-20-mid" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/7951/196673295/large_CG7115_01_standard.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/7952/196673296/large_CG7115_02_standard.jpg);"></span>
    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 36%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/adidas/product/vysokie-kedy-hoops-20-mid">Высокие кеды Hoops 2.0 Mid</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/adidas/product/vysokie-kedy-hoops-20-mid#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">4 490 ₽</span>
      <span class="product_card-old_price">6 990 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <button type="submit" class="button button--icon button--small button--empty button--empty--inverse" data-item-add><span class="far fa-shopping-cart fa-lg"></span><span>В корзину</span></button>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="126874773"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="126874773"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="126874896">
  <input type="hidden" name="variant_id" value="216129403">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/adidas/product/uteplennaya-parka-heavy" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/212/196673748/large_BQ5259_21_model.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/213/196673749/large_BQ5259_22_model.jpg);"></span>
    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 45%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/adidas/product/uteplennaya-parka-heavy">Утепленная парка Heavy</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/adidas/product/uteplennaya-parka-heavy#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">10 990 ₽</span>
      <span class="product_card-old_price">19 990 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <button type="submit" class="button button--icon button--small button--empty button--empty--inverse" data-item-add><span class="far fa-shopping-cart fa-lg"></span><span>В корзину</span></button>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="126874896"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="126874896"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="122576022">
  <input type="hidden" name="variant_id" value="208823604">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/katalog-bec955/product/trusy-hipsy-boksery-muzhskie-ezhednevnye-da-sport-trunk-yellow-zheltyy-tsvet" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/5165/188462125/large_29176008.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/5166/188462126/large_29176008_1.jpg);"></span>
    <span class="product_card-labels">




</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/katalog-bec955/product/trusy-hipsy-boksery-muzhskie-ezhednevnye-da-sport-trunk-yellow-zheltyy-tsvet">Трусы хипсы боксеры мужские ежедневные da sport trunk yellow желтый цвет</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/katalog-bec955/product/trusy-hipsy-boksery-muzhskie-ezhednevnye-da-sport-trunk-yellow-zheltyy-tsvet#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price">690 ₽</span>


  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <a href="/collection/katalog-bec955/product/trusy-hipsy-boksery-muzhskie-ezhednevnye-da-sport-trunk-yellow-zheltyy-tsvet" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="122576022"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="122576022"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="product_card product_card--shadow">
<form action="/cart_items" method="post" data-product-id="111674183">
  <input type="hidden" name="variant_id" value="191381847">
  <input type="hidden" name="quantity" value="1">
  <a href="/collection/igrushki/product/konstruktor-lego-duplo-10835-semeynyy-dom" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
    <span class="product_card-thumb-item product_card-thumb-item--first" style="background-image: url(https://static-eu.insales.ru/images/products/1/6815/167303839/large_1.jpg);"></span>
    <span class="product_card-thumb-item product_card-thumb-item--second" style="background-image: url(https://static-eu.insales.ru/images/products/1/6816/167303840/large_2.jpg);"></span>
    <span class="product_card-labels">





    <span class="product_card-label product_card-label--sale">Скидка 24%</span>



</span>
  </a>
  <div class="product_card-title">
    <a href="/collection/igrushki/product/konstruktor-lego-duplo-10835-semeynyy-dom">Конструктор LEGO Duplo 10835 Семейный дом</a>
  </div>

    <div class="product_card-rating">
      <div class="rating">
        <a href="/collection/igrushki/product/konstruktor-lego-duplo-10835-semeynyy-dom#review_form"><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-item rating-item--unactive"><span class="far fa-star"></span></span><span class="rating-link"><span class="fas fa-comment"></span>0</span></a>
      </div>
    </div>

  <div class="product_card-prices">


      <span class="product_card-price product_card-price--sale">1 621 ₽</span>
      <span class="product_card-old_price">2 119 ₽</span>

  </div>
  <div class="product_card-add">
    <div class="row no-gutters">
      <div class="col">


            <button type="submit" class="button button--icon button--small button--empty button--empty--inverse" data-item-add><span class="far fa-shopping-cart fa-lg"></span><span>В корзину</span></button>


      </div>

        <div class="col col-auto">
          <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="111674183"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="111674183"><span class="far fa-heart fa-lg"></span></button>
        </div>

    </div>
  </div>
</form>
</div>
            </div>

        </div>

    </div>
  </div>
</div>






      <div class="tabs-all text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="/collection/tovar-dnya" class="button button--primary">Посмотреть все товары</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>



<div id="insales-section-blog" class="insales-section insales-section-blog">
  <div class="section-title text-center">
    <a href="/blogs/blog">Последние новости</a>
    <div class="section-title-description">Самые свежие и интересные публикации</div>
  </div>
  <div class="articles">
    <div class="container">
      <div class="row">

          <div class="col-12 col-sm-6 col-md-6 col-lg-4">


<div class="article_card">
<a href="/blogs/blog/apple-pohoronila-iphone-se-i-x" class="article_card-thumb article_card-thumb--16x9 article_card-thumb--cover" data-title="Читать">

    <span class="article_card-thumb-item" style="background-image: url(https://static-eu.insales.ru/images/articles/1/2503/453063/large_iphone-x-54.jpg);"></span>

  <span class="article_card-labels">
    <span class="article_card-label article_card-label--date">14 Сентября 2018</span>
  </span>
</a>
<div class="article_card-title">
  <a href="/blogs/blog/apple-pohoronila-iphone-se-i-x">Apple похоронила iPhone SE и X</a>
</div>
</div>
          </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-4">


<div class="article_card">
<a href="/blogs/blog/2gis-zapustil-poisk-po-kvartiram-i-podezdam" class="article_card-thumb article_card-thumb--16x9 article_card-thumb--cover" data-title="Читать">

    <span class="article_card-thumb-item" style="background-image: url(https://static-eu.insales.ru/images/articles/1/1405/370045/large_526948.png);"></span>

  <span class="article_card-labels">
    <span class="article_card-label article_card-label--date">07 Июня 2018</span>
  </span>
</a>
<div class="article_card-title">
  <a href="/blogs/blog/2gis-zapustil-poisk-po-kvartiram-i-podezdam">2ГИС запустил поиск по квартирам и подъездам</a>
</div>
</div>
          </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-4">


<div class="article_card">
<a href="/blogs/blog/internet-provaydery-nachinayut-povyshat-tseny-iz-za-zakona-yarovoy" class="article_card-thumb article_card-thumb--16x9 article_card-thumb--cover" data-title="Читать">

    <span class="article_card-thumb-item" style="background-image: url(https://static-eu.insales.ru/images/articles/1/1404/370044/large_527041.jpg);"></span>

  <span class="article_card-labels">
    <span class="article_card-label article_card-label--date">07 Июня 2018</span>
  </span>
</a>
<div class="article_card-title">
  <a href="/blogs/blog/internet-provaydery-nachinayut-povyshat-tseny-iz-za-zakona-yarovoy">Интернет-провайдеры начинают повышать цены из-за «закона Яровой»</a>
</div>
</div>
          </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 d-none d-lg-none d-md-block d-sm-block d-xs-none">


<div class="article_card">
<a href="/blogs/blog/rostelekom-predlozhil-vvesti-doplatu-za-dostup-k-youtube-i-facebook" class="article_card-thumb article_card-thumb--16x9 article_card-thumb--cover" data-title="Читать">

    <span class="article_card-thumb-item" style="background-image: url(https://static-eu.insales.ru/images/articles/1/1310/369950/large_526906.jpeg);"></span>

  <span class="article_card-labels">
    <span class="article_card-label article_card-label--date">07 Июня 2018</span>
  </span>
</a>
<div class="article_card-title">
  <a href="/blogs/blog/rostelekom-predlozhil-vvesti-doplatu-za-dostup-k-youtube-i-facebook">Ростелеком предложил ввести доплату за доступ к YouTube и Facebook</a>
</div>
</div>
          </div>

      </div>
    </div>
  </div>
</div>


<div id="insales-section-brands" class="insales-section insales-section-brands insales-section-brands--index">
  <div class="container">
    <div class="js-owl-carousel-brands-slider brands-slider owl-carousel owl-brands-slider">

        <div class="brand_logo">
          <a href="/collection/apple" class="brand_logo-thumb brand_logo-thumb--16x9 brand_logo-thumb--contain">

              <span class="brand_logo-thumb-item"><span class="brand_logo-thumb-item-title"><span>Apple</span></span></span>

          </a>
        </div>

        <div class="brand_logo">
          <a href="/collection/samsung" class="brand_logo-thumb brand_logo-thumb--16x9 brand_logo-thumb--contain">

              <span class="brand_logo-thumb-item"><img src="https://static-eu.insales.ru/images/collections/1/5659/1750555/samsung.png" alt="Samsung"></span>

          </a>
        </div>

        <div class="brand_logo">
          <a href="/collection/adidas" class="brand_logo-thumb brand_logo-thumb--16x9 brand_logo-thumb--contain">

              <span class="brand_logo-thumb-item"><img src="https://static-eu.insales.ru/images/collections/1/5599/1750495/1_kTduH7n3zfiA6pSvaeNiZg.png" alt="Adidas"></span>

          </a>
        </div>

        <div class="brand_logo">
          <a href="/collection/dell" class="brand_logo-thumb brand_logo-thumb--16x9 brand_logo-thumb--contain">

              <span class="brand_logo-thumb-item"><img src="https://static-eu.insales.ru/images/collections/1/5658/1750554/dell.png" alt="DELL"></span>

          </a>
        </div>

        <div class="brand_logo">
          <a href="/collection/sony" class="brand_logo-thumb brand_logo-thumb--16x9 brand_logo-thumb--contain">

              <span class="brand_logo-thumb-item"><img src="https://static-eu.insales.ru/images/collections/1/5604/1750500/sony.png" alt="SONY"></span>

          </a>
        </div>

        <div class="brand_logo">
          <a href="/collection/asus" class="brand_logo-thumb brand_logo-thumb--16x9 brand_logo-thumb--contain">

              <span class="brand_logo-thumb-item"><img src="https://static-eu.insales.ru/images/collections/1/5607/1750503/asus.png" alt="ASUS"></span>

          </a>
        </div>

        <div class="brand_logo">
          <a href="/collection/lacoste" class="brand_logo-thumb brand_logo-thumb--16x9 brand_logo-thumb--contain">

              <span class="brand_logo-thumb-item"><img src="https://static-eu.insales.ru/images/collections/1/7484/1785148/lacoste.png" alt="Lacoste"></span>

          </a>
        </div>

    </div>
  </div>
</div>


<div id="insales-section-page" class="insales-section insales-section-page insales-section-page--index">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="text text-overflow js-text-overflow is-hidden">
          <div class="text-content">
            <h1 style="text-align: center;">Заголовок Н1 для главной</h1>
<p>Lorem ipsum dolor sit amet, mel modo adhuc delicata an, vis dicat cotidieque at, his ex omnis viris. Ut malis doctus tincidunt pro, tollit delectus sed ne. Purto iudico ea mel, facete nominavi eam ut, quas soluta cum ei. Movet partiendo quo eu. Vis viris consectetuer ut, modo wisi petentium eos eu. Ut eum nonumy legere intellegam, ei suas ullum eos. Sea ex dicat nostrum evertitur. Iuvaret adipiscing accommodare eos et, id debet convenire est. Eu detracto accommodare pri, putant graecis sea no, id qui graece labores. Eu qui mollis aliquip.</p>
<p>Per erant moderatius reprimique in, rebum choro discere vix ei. Cu sit ornatus laboramus, summo novum labores mei eu, ut nominati constituto per. Dicit dolor altera ea pro, eum voluptua salutatus argumentum ea, atqui oratio sanctus eam eu. An est iisque rationibus.</p>
<p>No oratio appetere definitionem est, tollit mollis perfecto cum eu. Vis et deleniti invenire consetetur, vis ceteros constituto ea. Duo bonorum alienum luptatum an, eu vis debet oratio philosophia. Ex aliquid oporteat usu. Tale doctus ad nec, ea sit malis elitr temporibus.</p>
<p>Usu quot viderer delicata te. An mea soleat sadipscing adversarium, ne vix quis fabulas senserit, id eos quas molestie vulputate. Wisi scripta ex vix, has minim nostrum percipit eu, ea legimus eligendi singulis has. Iriure adipiscing interesset et vel, cu probo conclusionemque eam. Unum iuvaret omittam pri et, mei id voluptua voluptatum, et aliquid omnesque mediocritatem quo. Te eros dicit accusamus ius, an has eros ullum.</p>
          </div>

            <div class="text-overflow-toggle"><button class="button button--empty button--info button--small js-text-overflow-toggle"><span></span></button></div>

        </div>
      </div>
    </div>
  </div>
</div>


<!--noindex-->
<div id="insales-section-instafeed" class="insales-section insales-section-instafeed">
  <div class="instafeed">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-title text-center">
            <a href="https://www.instagram.com/insta.dotstore/" target="_blank">@insta.dotstore</a>
            <div class="section-title-description">Мы в INSTAGRAM</div>
          </div>
        </div>
      </div>
    </div>
    <div id="instafeed" class="row no-gutters instafeed-gallery" data-userid="7754900938" data-accesstoken="7754900938.1677ed0.aec995528390445fa1e5ab1e3c14c4aa"></div>
  </div>
</div>
<!--/noindex-->
